<div class="dataTables_scroll">
    <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
        <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 826.344px; padding-right: 10px;">
            <table class="display no-footer dataTable" style="width: 826.344px; margin-left: 0px;"
                aria-describedby="table-rekap-satuan_info">
                <thead>
                    <tr>
                        <th class="sorting" tabindex="0" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                            aria-label="Nomor Statistik: activate to sort column ascending" style="width: 89.7812px;">
                            Nomor Statistik</th>
                        <th class="sorting" tabindex="0" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                            aria-label="NPSN: activate to sort column ascending" style="width: 53.1875px;">NPSN</th>
                        <th class="sorting" tabindex="0" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                            aria-label="Nama: activate to sort column ascending" style="width: 123.656px;">Nama</th>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="table-rekap-satuan" rowspan="1"
                            colspan="1" aria-label="Bentuk Pendidikan: activate to sort column descending"
                            style="width: 90.1406px;" aria-sort="ascending">Bentuk Pendidikan</th>
                        <th class="sorting" tabindex="0" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                            aria-label="Provinsi: activate to sort column ascending" style="width: 64.5625px;">Provinsi
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                            aria-label="Kab/Kota: activate to sort column ascending" style="width: 74.1719px;">Kab/Kota
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                            aria-label="Status: activate to sort column ascending" style="width: 50.8438px;">Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="dataTables_scrollBody"
        style="position: relative; overflow: auto; width: 100%; max-height: 500px; height: 500px;">
        <table id="table-rekap-satuan" class="display no-footer dataTable" style="width: 100%;"
            aria-describedby="table-rekap-satuan_info">
            <thead>
                <tr style="height: 0px;">
                    <th class="sorting" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                        aria-label="Nomor Statistik: activate to sort column ascending"
                        style="width: 89.7812px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                        <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Nomor Statistik</div>
                    </th>
                    <th class="sorting" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                        aria-label="NPSN: activate to sort column ascending"
                        style="width: 53.1875px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                        <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">NPSN</div>
                    </th>
                    <th class="sorting" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                        aria-label="Nama: activate to sort column ascending"
                        style="width: 123.656px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                        <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Nama</div>
                    </th>
                    <th class="sorting sorting_asc" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                        aria-label="Bentuk Pendidikan: activate to sort column descending"
                        style="width: 90.1406px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;"
                        aria-sort="ascending">
                        <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Bentuk Pendidikan</div>
                    </th>
                    <th class="sorting" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                        aria-label="Provinsi: activate to sort column ascending"
                        style="width: 64.5625px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                        <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Provinsi</div>
                    </th>
                    <th class="sorting" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                        aria-label="Kab/Kota: activate to sort column ascending"
                        style="width: 74.1719px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                        <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Kab/Kota</div>
                    </th>
                    <th class="sorting" aria-controls="table-rekap-satuan" rowspan="1" colspan="1"
                        aria-label="Status: activate to sort column ascending"
                        style="width: 50.8438px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;">
                        <div class="dataTables_sizing" style="height: 0px; overflow: hidden;">Status</div>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr class="odd">
                    <td>131132740001</td>
                    <td>20277141</td>
                    <td>MAN 2 KOTA CIREBON</td>
                    <td class="sorting_1">MA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>negeri</td>
                </tr>
                <tr class="even">
                    <td>131232740005</td>
                    <td>20277144</td>
                    <td>MAS AS SUNNAH</td>
                    <td class="sorting_1">MA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>131232740007</td>
                    <td>-</td>
                    <td>MA Pesantren Quran Kayuwalang</td>
                    <td class="sorting_1">MA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>131232740004</td>
                    <td>20277143</td>
                    <td>MAS AN NUR</td>
                    <td class="sorting_1">MA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>131132740002</td>
                    <td>20277142</td>
                    <td>MAN 1 KOTA CIREBON</td>
                    <td class="sorting_1">MA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>negeri</td>
                </tr>
                <tr class="even">
                    <td>131232740002</td>
                    <td>20277146</td>
                    <td>MAS MADINATUNNAJAH</td>
                    <td class="sorting_1">MA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>131232740001</td>
                    <td>20277145</td>
                    <td>MAS DARUL MASHOLEH</td>
                    <td class="sorting_1">MA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>131232740003</td>
                    <td>20277147</td>
                    <td>MAS SALAFIYAH</td>
                    <td class="sorting_1">MA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>131232740006</td>
                    <td>70007784</td>
                    <td>MAS LUQMAN AL HAKIM CIREBON</td>
                    <td class="sorting_1">MA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>111232740016</td>
                    <td>60709790</td>
                    <td>MIS PURWASARI</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>111232740013</td>
                    <td>60709787</td>
                    <td>MIS AN NUR</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>111232740018</td>
                    <td>60709780</td>
                    <td>MIS PERSATUAN GURU MADRASAH</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>111232740003</td>
                    <td>60709774</td>
                    <td>MIS AS SHOFIYAH</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>111232740009</td>
                    <td>60709783</td>
                    <td>MIS DARUL HIKAM</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>111132740001</td>
                    <td>60709782</td>
                    <td>MIN KOTA CIREBON</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>negeri</td>
                </tr>
                <tr class="even">
                    <td>111232740019</td>
                    <td>60726938</td>
                    <td>MIS DARUN NAIM</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>111232740004</td>
                    <td>60709775</td>
                    <td>MIS DARUL MASHOLEH</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>111232740001</td>
                    <td>60709772</td>
                    <td>MIS AL HIDAYAH GUPPI</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>111232740005</td>
                    <td>60709776</td>
                    <td>MIS DARUL ULUM</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>111232740012</td>
                    <td>60709786</td>
                    <td>MIS SALAFIYATUL HUDA 1</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>111232740010</td>
                    <td>60709784</td>
                    <td>MIS NURUR ROHMAH</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>111232740007</td>
                    <td>60709778</td>
                    <td>MIS SALAFIYAH</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>111232740002</td>
                    <td>60709773</td>
                    <td>MIS AL WATHONIYAH</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>111232740008</td>
                    <td>60709779</td>
                    <td>MIS SALAFIYATUL HUDA 2</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>111232740006</td>
                    <td>60709777</td>
                    <td>MIS MADINATUNNAJAH</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>111232740017</td>
                    <td>60709781</td>
                    <td>MIS TELADAN LANGENSARI</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>111232740015</td>
                    <td>60709789</td>
                    <td>MIS DARUT TAUHID</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>111232740014</td>
                    <td>60709788</td>
                    <td>MIS DARUL HIKMAH</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>111232740011</td>
                    <td>60709785</td>
                    <td>MIS PUI SITIMULYA</td>
                    <td class="sorting_1">MI</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>121232740010</td>
                    <td>69955959</td>
                    <td>MTSS ROHIMIYAH</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>121232740004</td>
                    <td>20279603</td>
                    <td>MTSS DARUL HIKAM</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>121232740008</td>
                    <td>20279601</td>
                    <td>MTSS SAIN AL HADID</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>121232740005</td>
                    <td>20279604</td>
                    <td>MTSS AN-NUR</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>121232740001</td>
                    <td>20279595</td>
                    <td>MTSS AL HIDAYAH GUPPI</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>121132740001</td>
                    <td>20279598</td>
                    <td>MTSN 1 KOTA CIREBON</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>negeri</td>
                </tr>
                <tr class="even">
                    <td>121232740003</td>
                    <td>20279597</td>
                    <td>MTSS MADINATUNNAJAH</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>121232740002</td>
                    <td>20279596</td>
                    <td>MTSS DARUL MASOLEH</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>121232740009</td>
                    <td>20279602</td>
                    <td>MTSS SYARIF HIDAYATULLAH</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>121132740002</td>
                    <td>20279594</td>
                    <td>MTSN 2 KOTA CIREBON</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>negeri</td>
                </tr>
                <tr class="even">
                    <td>121232740007</td>
                    <td>20279600</td>
                    <td>MTsS AS-SUNNAH</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>121232740006</td>
                    <td>20279599</td>
                    <td>MTSS SALAFIYAH</td>
                    <td class="sorting_1">MTs</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740030</td>
                    <td>69738865</td>
                    <td>RA SYARIEF HIDAYATULLAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740042</td>
                    <td>69738871</td>
                    <td>RA NURHIDAYAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740036</td>
                    <td>69738853</td>
                    <td>RA ANNAWA 2</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740033</td>
                    <td>69738850</td>
                    <td>RA AL ISTIQOMAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740023</td>
                    <td>69738879</td>
                    <td>RA ROSIDAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740002</td>
                    <td>69738839</td>
                    <td>RA AL WAQIAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740009</td>
                    <td>69738847</td>
                    <td>RA SALAFIYAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740020</td>
                    <td>69738876</td>
                    <td>RA BAITURRAHIM</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740022</td>
                    <td>69738878</td>
                    <td>RA NURUSSHOLICHAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740007</td>
                    <td>69738845</td>
                    <td>RA NURUL FURQON</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740010</td>
                    <td>69738848</td>
                    <td>RA SITI FATIMAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740005</td>
                    <td>69738842</td>
                    <td>RA ASY SYIFA</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740004</td>
                    <td>69738841</td>
                    <td>RA AMANAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740029</td>
                    <td>69738864</td>
                    <td>RA NURUL ISLAM</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740025</td>
                    <td>69738860</td>
                    <td>RA ALMA ASSYAUQI</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740043</td>
                    <td>69738859</td>
                    <td>RA AL MUNIR</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740041</td>
                    <td>69738844</td>
                    <td>RA DARUN NAIM</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740017</td>
                    <td>69738873</td>
                    <td>RA SIROJUL MUTTAQIIN</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740050</td>
                    <td>70037019</td>
                    <td>RA TAHFIZ QUR'AN AT-TAQWA</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740026</td>
                    <td>69738861</td>
                    <td>RA AN NAWA 3</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740006</td>
                    <td>69738843</td>
                    <td>RA DARUL MASHOLEH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740048</td>
                    <td>69958082</td>
                    <td>RA NUR INDAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740040</td>
                    <td>69738869</td>
                    <td>RA AR ROHMAN</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740034</td>
                    <td>69738851</td>
                    <td>RA AL KAROMAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740016</td>
                    <td>69738872</td>
                    <td>RA RAUDLATUL JANNAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740008</td>
                    <td>69738846</td>
                    <td>RA RAUDHOH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740028</td>
                    <td>69738863</td>
                    <td>RA BAITURROHMAN</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740024</td>
                    <td>69738857</td>
                    <td>RA AL HAMRA</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740021</td>
                    <td>69738877</td>
                    <td>RA DARUT TAUHID</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740045</td>
                    <td>69884575</td>
                    <td>RA DARUL QURAN</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740012</td>
                    <td>69738867</td>
                    <td>RA AL MAKMUR</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740003</td>
                    <td>69738840</td>
                    <td>RA AL WATHONIYAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740014</td>
                    <td>69738870</td>
                    <td>RA MIFTAHUL ULUM</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740037</td>
                    <td>69738854</td>
                    <td>RA ATTAQWA</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740013</td>
                    <td>69738868</td>
                    <td>RA AL WARDAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740019</td>
                    <td>69738875</td>
                    <td>RA AMINAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740027</td>
                    <td>69738862</td>
                    <td>RA AR ROHMAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740001</td>
                    <td>69738838</td>
                    <td>RA AL MANAR</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740035</td>
                    <td>69738852</td>
                    <td>RA ANNAWA I</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740038</td>
                    <td>69738855</td>
                    <td>RA IMAM BONDJOL</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740018</td>
                    <td>69738874</td>
                    <td>RA USHULUDIN</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740032</td>
                    <td>69738849</td>
                    <td>RA AL HUDA</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740047</td>
                    <td>69884577</td>
                    <td>RA DARUSYIFA</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740044</td>
                    <td>69884579</td>
                    <td>RA AISYIYAH</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740046</td>
                    <td>69884576</td>
                    <td>RA AL AMIN</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="odd">
                    <td>101232740049</td>
                    <td>69993967</td>
                    <td>RA NURUL IMAN</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
                <tr class="even">
                    <td>101232740039</td>
                    <td>69738856</td>
                    <td>RA SABILUL HUDA</td>
                    <td class="sorting_1">RA</td>
                    <td>JAWA BARAT</td>
                    <td>KOTA CIREBON</td>
                    <td>swasta</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>